[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/szymek/Pulpit/mysql-workbench-community_8.0.22-1ubuntu20.04_amd64.deb]
row=3
col=0

[/home/szymek/Pulpit/discord-0.0.13.deb]
row=4
col=0

[Kosz]
row=0
col=0

[/]
row=1
col=0

[/home/szymek]
row=2
col=0

