[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/szymek/Pulpit/kolysankapro.kdenlive]
row=5
col=1

[/home/szymek/Pulpit/najem2021.docx]
row=4
col=1

[/home/szymek/Pulpit/rest-api-in-practice-node-js-source]
row=0
col=1

[/home/szymek/Pulpit/films]
row=6
col=1

[/home/szymek]
row=2
col=0

[/]
row=1
col=0

[Kosz]
row=0
col=0

