[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/szymek/Pulpit/jest-learn]
row=6
col=0

[/home/szymek/Pulpit/blog]
row=1
col=0

[/home/szymek/Pulpit/LIST MOTYWACYJNY_INFORMACJE DLA STUDENTÓW.docx]
row=5
col=0

[/home/szymek/Pulpit/dynamicRouter.png]
row=1
col=1

[/home/szymek/Pulpit/PassportWithTS]
row=7
col=0

[/home/szymek/Pulpit/server_template]
row=3
col=0

[/home/szymek/Pulpit/antiX-19.3_386-base.iso]
row=2
col=0

[/home/szymek/Pulpit/index.js]
row=4
col=1

[/home/szymek/Pulpit/oldVersion]
row=8
col=0

[/home/szymek/Pulpit/FirkowiczSzymon_zadanie-rekrutacyjne.zip]
row=0
col=0

[/home/szymek/Pulpit/rekrutacja do RTB House]
row=6
col=1

[/home/szymek/Pulpit/controllersFactory.png]
row=0
col=1

[/home/szymek/Pulpit/xml-learn]
row=5
col=1

