[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/szymek/Pulpit/antiX-19.3_386-base.iso]
row=2
col=0

[/home/szymek/Pulpit/blog]
row=1
col=0

[/home/szymek/Pulpit/FirkowiczSzymon_zadanie-rekrutacyjne.zip]
row=0
col=0

[/home/szymek/Pulpit/chiaki-v2.1.1]
row=4
col=0

[/home/szymek/Pulpit/chiaki-v2.1.1.tar.gz]
row=3
col=0

